@*@model IEnumerable<TBTT_Board.Models.AvailableViewModel>*@
@model TBTT_Board.Models.AvailableViewModel

@{
    ViewData["Title"] = "Game";
}


    <div id="hiddenFields">
        @if (Model.CourtList != null)
        {
            @foreach (var item in Model.CourtList)
            {
                 <input type="hidden" id=@item.CourtName value=@item.Visibility>
            }

        }
    </div>
<div id="divBadmintonGameBoard" class="container-fluid">

    <div class="form-group row">
        <div class="container">
            <div class="row">
                <textarea id="txtMembershipID" class="form-control" type="text" multiple="true" placeholder="Scan/Enter MembershipID" autofocus maxlength="50" cols="10" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div id="divMsg" class="alert alert-danger" role="alert"></div>
    </div>


    <div class="row">
        <div id="GameBoard" class="col-lg-6 menutree">
            <h2 class="deep-blue white-text">Game Board <i class="fa fa-clock-o"></i></h2>
            <input id="txtGame" class="form-control" type="text" placeholder="Search Court" autofocus maxlength="20" />
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div id="divParentCourt1" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt1" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt1Footer" class="card-footer">

                                </div>
                            </div>

                            <div id="divParentCourt2" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt2" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt2Footer" class="card-footer">

                                </div>
                            </div>

                            <div id="divParentCourt3" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt3" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt3Footer" class="card-footer">

                                </div>
                            </div>

                            <div id="divParentCourt4" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt4" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt4Footer" class="card-footer">

                                </div>
                            </div>



                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div id="divParentCourt5" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt5" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt5Footer" class="card-footer">

                                </div>
                            </div>

                            <div id="divParentCourt6" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt6" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt6Footer" class="card-footer">

                                </div>
                            </div>
                            <div id="divParentCourt7" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt7" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt7Footer" class="card-footer">

                                </div>
                            </div>

                            <div id="divParentCourt8" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt8" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt8Footer" class="card-footer">

                                </div>
                            </div>

                            <div id="divParentCourt9" class="card card-Black">
                                <div class="card-body">
                                    <div id="divCourt9" class="font-white">
                                        <large class="text-muted">

                                        </large>
                                    </div>
                                </div>
                                <div id="divCourt9Footer" class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="playingList" class="col-lg-3 menutree">
            <h2 class="deep-orange white-text">Playing List <i class="fa fa-list-ol" aria-hidden="true"></i></h2>
            <input id="txtPlaying" class="form-control" type="text" placeholder="Search Member" autofocus maxlength="20" />
            @using (Html.BeginForm())
            {
                <div id="urlGetAvailableList" data-request-url="@Url.Action("GetAvailableList", "Home")"></div>
                <div id="urlGetGameList" data-request-url="@Url.Action("GetGameBoard", "Home")"></div>
                <div id="urlGetWaitingList" data-request-url="@Url.Action("GetWaitingList", "Home")"></div>
                <div id="urlSaveAvailableList" data-request-url="@Url.Action("AddToAvailableList", "Home")"></div>
                <div id="urlSaveWaitingList" data-request-url="@Url.Action("AddToWaitingList", "Home")"></div>
                <div id="urlDeleteFromGameBoardByMembershipID" data-request-url="@Url.Action("DeleteFromGameBoardByMembershipID", "Home")"></div>
                <div id="urlSaveGameBoard" data-request-url="@Url.Action("AddToGameBoard", "Home")"></div>
                <div id="urlSaveWaitingListNodeStatus" data-request-url="@Url.Action("WaitingListUpdateStatus", "Home")"></div>
                <div id="urlDeleteFromGameBoard" data-request-url="@Url.Action("DeleteFromGameBoard", "Home")"></div>
                @*<div id="urlSaveWaitingList" data-request-url="@Url.Action("SaveMenuGroups", "Home")"></div>*@
                <div class="col-sm-12">
                    <div id="divPlayingList">
                    </div>
                </div>
            }
            @*<div id="divPlayingList">
            <ul>
                <li data-nodeid="-999" id="root" data-jstree='{"icon":"glyphicon glyphicon-tree-deciduous sourceGlyphs", "state" : {"opened" : true} }'>
                    <a data-nodeid="-999" href="#">playingParentID</a>

                    <ul>
                        <li id="text11" data-jstree='{"icon":"glyphicon glyphicon-home sourceGlyphs","state" : {"opened" : true} }'>
                        <a data-nodeid="playingChildID" href="#">playingChildID</a>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>*@
        </div>
        <div id="availableList" class="col-lg-3 menutree">
            <h2 class="deep-green white-text">Available List <i class="fa fa-users" aria-hidden="true"></i></h2>
            <input id="txtAvailable" class="form-control" type="text" placeholder="Search Member" autofocus maxlength="20" />
            <div id="divAvailableList">
                @*<ul>
                    <li data-jstree='{"icon":"glyphicon glyphicon-tree-deciduous sourceGlyphs", "state" : {"opened" : true} }'>
                        <a data-nodeid="availableParentID" href="#">playingParentID</a>*@
                <ul>
                    @foreach (var item in Model.AvailableList)
                    {
                        <li data-nodeid="@item.MembershipID" data-nodeStatus="@item.NodeState" data-MembershipType="@item.MembershipType"  data-jstree='{"icon":"fa fa-user-circle-o","state" : {"opened" : true, "disable_node" : true }}'>
                            <a href="#">@item.MemberName</a>
                        </li>
                    }
                </ul>

                @*</li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    @*"create_node" function is customized, as node parameter passed is not element, but text. So please refer the jstree.js file instead of jstree.min.js.*@
    <script src="~/js/bootstapAlerts.js" type="text/javascript"></script>
    <script src="~/js/jstree.min.js" type="text/javascript"></script>
    @*<script src="~/js/stopWatch.js" type="text/javascript"></script>*@
    <script src="~/js/TBTTConstants.min.js" type="text/javascript"></script>
    <script src="~/js/Index.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_2.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_3.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_4.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_5.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_6.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_7.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_8.min.js" type="text/javascript"></script>
    <script src="~/js/gamingBoard_9.min.js" type="text/javascript"></script>
}
